@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

.all-main{
    display: grid;
    grid-template-rows: 120px 1fr 200px;
}

body{
  width: 960px;
  margin: auto;
}
/* img{
    width: 100%; 
 } */
header{
    display: grid;
    grid-template-columns: 100px 1fr 1fr;
    align-items: center;
}
header section{
   margin-left: -40px; 
   line-height: 0;
}
header section h1{
    font-family: 'Dancing Script', cursive;
}
header nav{
    width: 100%;
    text-align: right;
}
header nav ul li{
display: inline-block;
}
header>img{
    width: 40px;
}
main section:nth-child(1){
    line-height: 0;

}

main section:nth-child(1) img{
width: 20px;
float: right;
padding-bottom: 10px;
}
main section:nth-child(2) {
display: grid;
grid-template-columns: 1fr;
gap: 30px;
}  
main section:nth-child(3){
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    /* display: flex; */
}
main section:nth-child(4){

width: 100%;
}
main section:nth-child(4) img{
    position: relative;
    left: 5px;
    top: 300px;
    z-index: -1;
    margin-top: -80%;
}
main section:nth-child(4) form{
/* width: 100%; */
max-width: 200px;
margin: 20px 80px;
display: grid;
grid-template-columns: 300px 300px;
gap: 30px;
}

main section:nth-child(4) form article:nth-child(1) input{
padding: 20px;
}
footer{
    margin-top: 100%;
    display: grid;
    grid-template-rows: 1fr 100px 1fr;
}
footer section:nth-child(1){
    display: grid;
    grid-template-columns: 200px 1fr 300px;
}
footer section:nth-child(1) img{
    border-radius: 50%;
}
footer section:nth-child(2){
    
    margin-left: -120px; 
   line-height: 1.5;
}